/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800;900&family=Spline+Sans:wght@400;500;600;700&display=swap');

.body{
    font-family: "Spline Sans", sans-serif;
    color: #777;
    line-height: 1.7;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    color: #222;
}

a {
    color: #222;
    text-decoration: none;
    transition: all 0.4s;
    font-weight: 600;
}

a:hover {
    color:#f58d17;
}

img {
    min-width: 100%;
}

/*Btn */

.btn {
    border-radius: 0;
    padding: 14px 38px;
}

.btn-brand {
    color: #fff;
    font-weight: 500;
    border-color: #f58d17;
    background-color: #f58d17;
}

.btn-brand:hover {
    border-color: #ca7310;
    background-color: #ca7310;
    color: #fff;
}


/*slider */

.slide-1 {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/images/pizza.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide-2 {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/images/ramen.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide-3 {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/images/borgar.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


section {
    padding-top: 120px;
    padding-bottom: 120px;

} 

 section img {
    max-height: 600px;
    width: auto;
}

#about .divider {
    width: 60px;
    height: 2px;
    display: block;
    background-color: #f58d17;
}

/*Intro Text*/
.intro-text {
    margin-bottom: 40px;
     text-align: center;
}

.intro-text p {
    max-width: 600px;
    margin: 16px auto 0 auto;
}


