/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800;900&family=Spline+Sans:wght@400;500;600;700&display=swap');

.body{
    font-family: "Spline Sans", sans-serif;
    color: #777;
    line-height: 1.7;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    color: #222;
}

a {
    color: #222;
    text-decoration: none;
    transition: all 0.4s;
    font-weight: 600;
}

a:hover {
    color:#f58d17;
}

img {
    min-width: 100%;
}

/*Btn */

.btn {
    border-radius: 0;
    padding: 14px 38px;
}

.btn-brand {
    color: #fff;
    font-weight: 500;
    border-color: #f58d17;
    background-color: #f58d17;
}

.btn-brand:hover {
    border-color: #ca7310;
    background-color: #ca7310;
    color: #fff;
}


/*slider */

.slide-1 {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/images/borgar.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide-2 {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/images/pizza.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide-3 {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/images/ramen.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


section {
    padding-top: 120px;
    padding-bottom: 120px;

} 

/*CSS untuk memunculkan shadow ketika di hover */
.shadow-on-hover {
    transition: all 0.4s ease;

}

.shadow-on-hover:hover {
    box-shadow: 0 10px 40px rgba(0, 0, 0, .2);
}

 

#about .divider {
    width: 60px;
    height: 2px;
    display: block;
    background-color: #f58d17;
}

/*Intro Text*/
.intro-text {
    margin-bottom: 40px;
     text-align: center;
}

.intro-text p {
    max-width: 600px;
    margin: 16px auto 0 auto;
}


/* Custom css for menu */
 #menu .nav-pills .nav-link {
    background-color: #fff;
    margin-left: 8px;
    margin-right: 8px;
    color: #222;
    border-radius: 100px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, .1);
     
 }

 #menu .nav-pills .nav-link.active {
    background-color: #f58d17;
    color: #ffffff;
 }


 /*css for rating stars*/

 .menu-item .stars {
    color: #f58d17;
 }

 /*features*/
 #features {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/images/pizza.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

.feature {
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
}

.feature .feature-icon {
    color: white;
    background-color: #f58d17;
    height: 80px;
    width: 80px;
    font-size: 28px;
    display: inline-grid;
    align-content: center;
    text-align: center;
    border-radius: 5px;
}
